* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #fff; 
  color: #171717;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none; 
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}
